@model CoffeeShopApp.Models.ViewModels.BasketViewModel

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.BasketItems[0].Product.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BasketItems[0].Product.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BasketItems[0].Product.Calories)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BasketItems[0].Product.DrinkType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.BasketItems) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BasketLineID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
            <td>
                $@Html.DisplayFor(modelItem => item.Product.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Calories)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.DrinkType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
        </tr>
    }
        <tr>
            <td></td>
            <th>Summarry</th>
            <td>$@Html.DisplayFor(model => model.Price)</td>
            <td>@Html.DisplayFor(model => model.Calories)</td>
            <td></td>
            <td>@Html.DisplayFor(model => model.Quantity)</td>
        </tr>
    </tbody>
</table>
